<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<groups>
			<run>
				<include name="bookShelves_page"></include>
				<include name="sofa_page"></include>
				<include name="giftcard_page"></include>
			</run>
		</groups>
		<classes>
			<class name="Test.TestCases" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
